
div.answer a {
    min-width: 80px;
    font-weight: bold;
}

div.word {
    font-size: 28px;
}

div.timer {
    font-size: 44px;
}

div.points {
    font-size: 18px;
}

div.points em {
    font-style: normal;
    color: blue;
}

#message {
    font-size: 30px;
    font-weight: bold;
}
