
div.answer a {
    min-width: 80px;
    font-weight: bold;
    margin-bottom: 3px;
}

div.words {
    font-size: 28px;
    font-family: "Lucida Console", Monaco, monospace;
}

div.timer {
    font-size: 44px;
}

div.points {
    font-size: 18px;
}

div.points em {
    font-style: normal;
    color: blue;
}

#message {
    font-size: 30px;
    font-weight: bold;
}

#home > div.row {
    margin-top: 8px;
}
