<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-info" role="alert">
            <div>
                <p><strong>How to play:</strong> you must calculate the Levenshtein distance between the two words that appears on the screen,
                and then submit your answer by pressing one of the numerical buttons.
                The more consecutive correct answer you make, the more points you get, but be careful: if you make an error, you lost all points.
                <br/>A timer indicates how many time you have left to answer. If the timer expires, it counts as an error and you lost your points.</p>
            </div>
            <div class="small">
                <em><strong>Levenshtein distance:</strong>
                the Levenshtein distance is a string metric for measuring the difference between two sequences. Informally, the Levenshtein distance between two words is the minimum number of single-character edits (i.e. insertions, deletions or substitutions) required to change one word into the other.
                Source: <a href="http://en.wikipedia.org/wiki/Levenshtein_distance">Wikipedia</a></em>
            </div>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-4 col-md-offset-2">
        <a class="btn btn-success" href="#/game" role="button">Play</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-default" href="#/scores" role="button">Scores</a>
    </div>
</div>