<div class="row text-center">
    <h2>Scores</h2>
    
    <div class="col-md-8 col-md-offset-2">
        <table class="table">
            <tr ng-repeat="score in scores track by $index">
                <td>#{{($index+1)}}</td>
                <td><strong>{{score.value}} points </strong></td>
                <td>{{niceDate(score.date)}}</td>
            </tr>
        </table>
    </div>

    <br/>

    <div class="row text-center">
        <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4">
            <a class="btn btn-default btn-block" href="#/" role="button">{{ 'Go back' | translate }}</a>
        </div>
    </div>
</div>
